{% include 'header.html'  %}

<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    İletişim </h1>
                    <h1></h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">

        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="isim">
                                İsim</label>
                            <input type="text" class="form-control" id="isim" placeholder="Adınızı Giriniz" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                E-Posta Adresi</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="E - Posta Adresinizi Giriniz" required="required" /></div>
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Mesajınız</label>
                            <textarea name="mesaj" id="mesaj" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Mesajınızı Yazınız"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Gönder</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span> Adresimiz:</legend>
            <address>
                Derneğimiz'le iletişim için aşağıdaki adres ve telefon bilgilerini kullanabilirsiniz.

Adres: Merkez Sitesi E Blok No: 1/B (Makromarket Arkası) 100.Yıl/ANKARA<br>
                <br>
                <br>
                <abbr title="Telefon">
                    Telefon :</abbr>
                (312) 284 65 10
            </address>
            <address>
                <strong>E-Posta Adresimiz</strong><br>
                <a href="mailto:#">omer@devinim.com.tr</a>
            </address>
            </form>
        </div>
    </div>
</div>


{% include 'footer.html'  %}

